{% extends 'stuff/base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
	{% if show is None %}
		<div class="col">
			<p class="text-center text-muted"><em>There aren't any shows.</em></p>
		</div>
	{% else %}
		{% for show in show %}
		<div class="col-12">
			<div class="card mb-4">
				<div class="row">
					<div class="col px-1 mx-3 mr-sm-0 bg-light">
						{% include 'stuff/include/show_header.html' with show_list=1 %}
					</div>
					<div class="col-12 col-sm pl-sm-0">
						<div class="card-body p-0">
							{% include 'stuff/include/show_form_list.html' %}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	{% endif %}
</div>
{% endblock %}