{% extends 'stuff/base.html' %}
{% block title %}{{ induction }}{% endblock %}

{% block content %}
<div class="row">
	<div class="col-8 offset-2">
		<h1 class="text-center">{{ induction }}</h1>
	</div>
</div>
<hr>
{% include 'stuff/include/show_header.html' with show=show datetime_only=1 %}
<hr>
{% include 'stuff/include/show_buttons.html' with show=show %}
<hr>
<div class="row">
	<div class="col-md-6">
		<h2>Show Info</h2>
		<p>Primary contact: {{ induction.show_member }} {% if induction.show_role %}<em>({{ induction.show_role }})</em></p>{% endif %}
		<p>Their phone number: {{ induction.show_phone }}</p>
	</div>
	<div class="col-md-6">
		<h2>Audience Info</h2>
		<p>Latecomers: {{ induction.get_latecomers_display }}</p>
		<p>Comps: {{ induction.comps }}
			{% if induction.comp_list %}<br />{{ induction.comp_list }}{% endif %}
		</p>
		<p>Minimum Audience: {{ induction.minimum_audience }}</p>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<h2>Show Stop Triggers</h2>
		<span>The following occur within the show and are <strong>not</strong> cause to stop the show:</span>
		{% if induction.show_stop.all %}
			<ul>
				{% for trigger in induction.show_stop.all %}
				<li>{{ trigger }}</li>
				{% endfor %}
			</ul>
		{% else %}
			<p><em>No show stop triggers.</em></p>
		{% endif %}
		{% if induction.show_stop_notes %}<p>{{ induction.show_stop_notes }}</p>{% endif %}
		{% if remaining_show_stop %}
		<span>The show should be stopped if any of the following are seen:</span>
		<ul>
			{% for trigger in remaining_show_stop %}
				<li>{{ trigger }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
	<div class="col-md-6">
		<h2>Show Ending</h2>
		<p>{{ induction.show_end }}</p>
	</div>
</div>
{% if induction.show_name.ticketing_id %}
<div class="row mb-2">
	<div class="col">
		<a class="btn btn-block btn-success" target="_blank" href="https://ticketing.newtheatre.org.uk/show/{{ induction.show_name.ticketing_id }}/0"><span class="h4"><i class="fa fa-fw fa-ticket-alt"></i> Sell tickets for this show</span></a>
	</div>
</div>
{% endif %}
{% if user.is_staff %}
<div class="row">
	<div class="col text-right">
		<a class="btn btn-lg btn-warning" href="{% url 'stuff:stuffInductionEdit' show.pk %}"><i class="fa fa-fw fa-edit"></i> Edit</a>
	</div>
</div>
{% endif %}
<hr>
<p class="text-muted text-center">Last updated by {{ induction.author }} on {{ induction.timestamp }}</p>

{% endblock %}
